<% layout('layouts/boilerplate') %>
     
 <style>
      #filters{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
      }

      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }

      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }

      .tax-info{
        display: none;
      }

      .tax-toggle{
        border: 1px solid rgb(173, 134, 134);
        border-radius: 0.7rem;
        height: 3rem;
        padding: 0.9rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
      }




 </style>
   
    <div id="filters">
           <div class="filter">
            <div class="icon">
              <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/3726d94b-534a-42b8-bca0-a0304d912260.jpg" alt="" width="24" height="24">
            </div>
            <p>Trending</p>
           </div>
           

           <div class="filter">
            <div class="icon">
              <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/ca25c7f3-0d1f-432b-9efa-b9f5dc6d8770.jpg" alt="" width="24" height="24">
            </div>
            <p>Camping</p>
           </div>

           <div class="filter">
            <div class="icon">
              <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg" alt="" width="24" height="24">
            </div>
            <p>Beachview</p>
           </div>

           <div class="filter">
            <div class="icon">
              <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg" alt="" width="24" height="24">
            </div>
            <p>Treehouse</p>
           </div>
           
           <div class="filter">
           <div class="icon">
            <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/1b6a8b70-a3b6-48b5-88e1-2243d9172c06.jpg" alt="" width="24" height="24">
          </div>
          <p>Castels</p>
         </div>
         

         <div class="filter">
          <div class="icon">
            <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/78ba8486-6ba6-4a43-a56d-f556189193da.jpg" alt="" width="24" height="24">
          </div>
          <p>Mansions</p>
         </div>

         <div class="filter">
          <div class="icon">
            <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/c8e2ed05-c666-47b6-99fc-4cb6edcde6b4.jpg" alt="" width="24" height="24">
          </div>
          <p>Breakfast</p>
         </div>

         <div class="filter">
          <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg" alt="" width="24" height="24">
          <p>Ilands</p>
         </div>


         <div class="filter">
          <div class="icon">
            <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/c8e2ed05-c666-47b6-99fc-4cb6edcde6b4.jpg" alt="" width="24" height="24">
          </div>
          <p>Breakfast</p>
         </div>

         <div class="filter">
          <img class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr" src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg" alt="" width="24" height="24">
          <p>Ilands</p>
         </div>

           <div class="tax-toggle">
             <div class="form-check-reverse form-switch">
               <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
               <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
              </div>
           </div>

    </div>

<div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1 ">
    <%  for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">

        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_img" style="height:20rem;">

        <div class="card-body">
            <div class="card-img-overlay">
                <i class="fa-light fa-heart"></i>
            </div>
          <p class="card-text"> <b><%=listing.title%></b> 
            <br>
            
              &#8377; 
              <%= 
                  listing.price 
                      ? listing.price.toLocaleString("en-IN") 
                      : "Price not available" 
              %> / Night
              <i class="tax-info"> &nbsp;&nbsp; +18% GST </i>
          </p>
        </div>
      </div>
    </a>
      <% } %>
</div>


<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", ()=>{
       let taxInfo = document.getElementsByClassName("tax-info");
       for(info of taxInfo){
        if(info.style.display != "inline"){
          info.style.display = "inline";
        } else{
          info.style.display = "none";
        }
       }
  });

</script>
